<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Safe URL</title>
  <link rel="stylesheet" href="static/style.css">
  <style>



  </style>
</head>

<body>
<div class="cover">
	<h1>SAFE URL</h1>
    <h4>Enter a URL to check if it is safe, unsafe, or non-existent.</h4>
     <!-- Main Input For Receiving Query to our ML -->
    <form action='predict' method="post" class="flex-form">
    	<input type="search" name="url" placeholder="Enter URL"  required/>
        <br>
        <button type="submit">Check</button>
    </form>

     <br>
     <br>
   <h2>URL Status: {{ prediction_text }}</h2>
 </div>



</body>
</html>